* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: #212529;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    max-width: 800px;
    flex: 1;
    margin: 0 2rem;
    margin-bottom: auto;
}

footer {
    margin-top: 4rem;
    padding: 1rem 2rem;

    border-top: solid 1px #DDD;
    color: #AAA;
}

h1, h2, h3, h4 {
    margin-top: 2.5rem;
    margin-bottom: 0.75rem;
    font-weight: 600;
    line-height: 1.2;
    color: #333;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
}

p, table, ul, ol {
    margin-top: 0;
    margin-bottom: 1rem;
}

p.lead {
    font-size: 1.25rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
}

.form-control {
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

a:link,
a:visited {
    color: #0d6efd;
    text-underline-offset: .3rem;
}

a:link:hover {
    color: #0a58ca;
}

label {
    display: inline-flex;
    width: 100%;
    align-items: center;
}

.note {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;

    position: relative;
    padding: 0.75rem 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.footer {
    margin-top: 2rem;
}

.choices span {
    flex: 1;
    display: inline-block;
    margin-right: 2rem;
}

.choices li {
    margin-bottom: .5rem;
}

#next {
    margin-right: 10px;
}

#hint {
    font-weight: bold;
    color: #b02a37;
    margin-left: 0.5em;
}

.summary {
    list-style: none;
    padding: 0;

    border-left: solid 1px #555;
    padding-left: 1px;
}

.summary li {
    margin: 5px 5px 5px 0;
}

.bar, .label {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
}

.label {
    width: 40px;
    margin-left: 10px;
    text-align: left;
}

.bar {
    background-color: #555555;
    text-align: center;
    color: white;
}

.second-choice {
    background-color: rgb(217 232 237);
    color: inherit;
}

.first-choice {
    background-color: rgb(153 193 208);
    color: inherit;
}

.summary a {
    text-decoration: none;
}

button {
    padding: 7px 13px;
    border-radius: 5px;
    border: solid 2px #AAA;
    font-size: .9em;
    background: #EEE;
}

button:hover {
    background: #E0E0E0;
}

input[type='text'] {
    padding: 3px 3px;
    text-align: right;

.show-questions,
.show-summary,
.show-intro {
    display: none;
}

.state-questions .show-questions,
.state-intro .show-intro,
.state-summary .show-summary {
    display: block;
}